@import url(assets/css/header.css);
@import url(assets/css/main.css);
@import url(assets/css/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap');

:root {
    --azul-claro: #373D6D;
    --azul-escuro: #22274D;
    --azul-muitoClaro: #888fc3;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: var(--azul-escuro);
}